.fixed {
    min-height: 100%;
  background-size: cover;
  -webkit-background-size: cover !important; 
  -moz-background-size: cover !important; 
  -o-background-size: cover; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;    
}
.pic1 {
    background-image: url("p1.jpeg");
}
.pic2 {
    background-image: url("p2.jpeg");
}
.pic3 {
    background-image: url("p3.jpeg");
}
.pic4 {
    background-image: url("p4.jpeg");
}
.pic5 {
    background-color: #ffc7c7;
}
.pic6 {
    background-image: url("p6.jpeg");
}
.table {
    width:50%;
  }
  .table, .th, .td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .th, .td {
    padding: 15px;
    text-align: left;
  }

.text-box {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    margin: 0;
    max-width: 500px;
  }
  h1 {
    line-height: 2;
    color:#5e8b7e;
    font-size: 90px;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
p {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
h2 {
    text-align: center;
    font-size: 60px;
    font-style: italic;

}
h3 {
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
h4 {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
.p1 {
    color: #364f6b;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("p6.jpeg");
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #ffc7c7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  a{
    margin: 10px 20px;
    }
    a:hover {
    color: #3cb0fd;
    }

      